@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;800&family=Work+Sans&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background: #05101c;
  color: white;
  font-family: "Roboto Slab", serif;
}
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: wheat;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background: orange;
}

.video__loop {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  opacity: 0.05;
}

.image-inverted {
  filter: invert(100%);
}
.nav-link {
  margin: 0 10px;
  transition: all 0.3s ease;
}
.nav-button {
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.nav-button:active {
  transform: translateY(2px);
}
.nav-button:hover {
  .nav-text {
    font-weight: 800;
    text-decoration: underline;
    padding: 2px 0;
    transition: all 0.5s ease;
    color: rgb(147, 97, 6);
  }
}

.MuiOutlinedInput-input-root.Mui-focused,
.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Footer */
.footer-container {
  width: 100%;
  min-height: 20vh;
  max-height: 30vh;
  margin-top: 60px;
  color: gray;
}
.footer-container-2 {
  width: 100%;
  min-height: 20vh;
  max-height: 30vh;
  /* margin-top: 60px; */
  color: gray;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 1.5rem;
  text-align: center;
  padding: 20px;
}
.footer-text-2 {
  font-size: 1rem;
  text-align: center;
  padding: 20px;
}

.footer-link {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
  margin: 0 10px;
}

.footer-link:hover {
  color: #ffa500;
}

.footer-link:active {
  color: #ff6347;
}

/* // End Footer */
@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* Image */
.random-image-container {
  overflow: hidden;
  position: relative;
  height: 0;
}

.random-image {
  max-height: 700px;
  position: fixed;
  top: -100%;
  animation: slideFromTop 2s forwards, jump 5s infinite alternate; /* Combine both animations */
}

@keyframes slideFromTop {
  from {
    top: -100%; /* Start position */
  }
  to {
    top: 20%; /* End position */
  }
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(-3%);
  }
  50% {
    transform: translateY(0);
  }
}
/*// End Image */

/* Chat Animations */
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%); /* Start position (outside of the screen) */
  }
  to {
    transform: translateX(0); /* End position (original position) */
  }
}
@keyframes slideInFromBottom {
  from {
    transform: translateY(200%); /* Start position (outside of the screen) */
  }
  to {
    transform: translateY(0); /* End position (original position) */
  }
}
/*// End Chat Animations */
